<!-- templates/form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Youtube Download</title>
</head>
<body>
    <h1>Youtube downloader</h1>
    <form id="myForm" method="post">
        <input type="text" name="input_field" placeholder="Enter something">
        <button id="submitButton" type="submit">Submit</button>
    </form>
    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myForm').submit(function(event) {
                event.preventDefault(); // Prevent default form submission
                document.getElementById('submitButton').disabled = true;
                $('#result').html('');
                $.ajax({
                    type: 'POST',
                    url: '/process',
                    data: $('#myForm').serialize(),
                    success: function(data) {
                        $('#result').html(data); // Update the page with the result
                        document.getElementById('submitButton').disabled = false;
                    }
                });
            });
        });
    </script>
</body>
</html>
